body {
    background-image: url("../pictures/background.png");
    background-attachment: fixed;
    background-position: center;
}

.center {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

h1 {
    font-size: 60px;
}

#login {
    background-color: grey; /* Green */
    border: 2px solid green;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

#login:hover {
    background-color: green;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#login:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}