:root {
    --main-light-color: #f9bbb1;
    --main-dark-color: #481b0b;
}

.button {
    position: absolute;
    left: 0;
    top: 1%;
    width:4%;
    cursor: pointer;
}

#list {
    display: flex;
    list-style-type: none;
}

#list>li {
    margin: 0 auto 0 0;
}

.searchBar {
    margin-left: 4%;
    margin-top: 1%;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    margin-left: 2%;
    margin-top: 3%;
    border-style: solid;
    border-radius: 0 20px 20px 20px;
    width: 400px;
    height: auto;
    padding: 0;
    background-color: white ;
}

.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.field {
    height: 50px;
    width: 240px;
    border: 1px solid;
}

.space {
    color: white;
}